.questionbox {
    width: 1038px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 15px 30px 30px;
    display: flex;
}

.questionbox > .contatiner {
    width: 100%;
}


.questionbox > .contatiner > .questionbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.questionbox > .contatiner > .questionbar > .question {
    font-family: 'Inter';
    font-weight: 700;
}

.questionbox > .contatiner > .questionbar > .buttons {
    display: flex;
    align-items: center;
}

.questionbox > .contatiner > .questionbar > .buttons > .makepublic {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 700;
    color: #A42C25;
    margin-right: 20px;
}

.questionbox > .contatiner > .questionbar > .buttons > button {
    margin-left: 20px;
}


.questionbox > .contatiner > .answerbox {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    margin-top: 10px;
    padding: 24px;
    text-align: left;
}

.questionbox > .contatiner > .answerbox > .buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > button {
    margin-top: 30px;
    background: none;
    border: 0px;
    text-decoration: underline;
    color: #646464;
}

.questionbox > .contatiner > .answerbox > .buttonContainer > button:hover {
    color: #404040;
}

.questionbox > .handle {
    margin: auto;
    margin-left: 20px;
    width: 13px;
    height: 20px;
}